<style>
  #picturep {
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/122.png");
    background-repeat: round;
    width: 100vh;
    height: 50vh;
  }
</style>

<div id="picturep">

</div>
<div class="row">
  <div class="card">
    <div class="card-body">
      Info:
      <ol>
        <li>Name: {{name}}</li>
        <li>Main Ability: {{main_ability}}</li>
        <li>Base_Exp: {{base_exp}}</li>
      </ol>
    </div>
  </div>
</div>


<h1>Pokemon Page</h1>